version: '3.8'

services:
  calcubot:
    container_name: calcubot
    restart: always
    read_only: true
    tmpfs:
      - /tmp
    build: server
    # Limit cpu
    # cpus: 1
    environment:
      - FASTAPI_ENV=production
    logging:
      options:
        max-size: "1m"
        max-file: "3"
    ports:
      - "8704:8000"
    volumes:
      - ./config.json:/server/config.json
      - ./logging.ini:/server/logging.ini